body {
    
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 30rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 20rem;
    }
}

